matplotlib
numpy
scipy
opencv-python
tensorflow>=2.6.0
# tensorflow-gpu>=2.6.0
tqdm

## uncomment the following dependencies for generating tfrecords
## or using notebooks
# pycocotools
# trimesh
# networkx
# pyglet

